<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 1ff30bd... 增加blog首页和文章页
﻿<footer class="grid-footer">
    <div class="footer-fixed">
        <div class="copyright">
            <div class="info">
                <div class="contact">
                    <a href="https://github.com/wyDuang/" class="github" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://wpa.qq.com/msgrd?v=3&uin=1014558384&site=qq&menu=yes" class="qq" target="_blank" title="1014558384"><i class="fa fa-qq"></i></a>
                    <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=110@wyduang.com" class="email" target="_blank" title="110@wyduang.com"><i class="fa fa-envelope"></i></a>
                    <a href="javascript:void(0)" class="weixin"><i class="fa fa-weixin"></i></a>
=======
﻿<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">组 1</h4>
                    <div class="ui inverted link list">
                        <a href="sticky.php#" class="item">Link One</a>
                        <a href="sticky.php#" class="item">Link Two</a>
                        <a href="sticky.php#" class="item">Link Three</a>
                        <a href="sticky.php#" class="item">Link Four</a>
                    </div>
>>>>>>> 44c5959... 添加api
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">组 2</h4>
                    <div class="ui inverted link list">
                        <a href="sticky.php#" class="item">Link One</a>
                        <a href="sticky.php#" class="item">Link Two</a>
                        <a href="sticky.php#" class="item">Link Three</a>
                        <a href="sticky.php#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">组 3</h4>
                    <div class="ui inverted link list">
                        <a href="sticky.php#" class="item">Link One</a>
                        <a href="sticky.php#" class="item">Link Two</a>
                        <a href="sticky.php#" class="item">Link Three</a>
                        <a href="sticky.php#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">页脚</h4>
                    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="assets/images/logo.png" class="ui centered mini image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="sticky.php#">站点地图</a>
                <a class="item" href="sticky.php#">联系我们</a>
                <a class="item" href="sticky.php#">服务条款</a>
                <a class="item" href="sticky.php#">隐私政策</a>
            </div>
        </div>
    </div>
</footer>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
﻿<footer>
    <p>
        <span>&copy; 2019</span>
        <span><a href="https://wyduang.com" target="_blank">wyduang.com</a></span>
        <span>MIT license</span>
    </p>
    <p><span>人生就是一场修行</span></p>
</footer>
>>>>>>> e7f3251... 继续
=======
<script>NProgress.start();</script>
<script>
    window.onload = function () {
        NProgress.done();
    };
</script>
>>>>>>> 1ff30bd... 增加blog首页和文章页
=======
>>>>>>> fb48ab8... 完善前端资源压缩
=======
<div class="back_to_top">回到顶部</div>
>>>>>>> 44c5959... 添加api
