<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 1ff30bd... 增加blog首页和文章页
﻿<div class="header">
</div>
<header class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
<<<<<<< HEAD
<<<<<<< HEAD
            <a href="javascript:void(0)" class="header-logo" id="logo">wyDuang</a>
=======
            <a href="javascript:void(0)" class="header-logo" id="logo">Mr.Wuyang</a>
>>>>>>> 1ff30bd... 增加blog首页和文章页
=======
            <a href="javascript:void(0)" class="header-logo" id="logo">wyDuang</a>
>>>>>>> fb48ab8... 完善前端资源压缩
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home fa-fw"></i>首页</a></li>
                    <li><a href="@Url.Action("Index","Article")">文章</a></li>
                    <li><a href="/messages.html">留言</a></li>
                    <li><a href="/friendlinks.html">友链</a></li>
                </ul>
            </nav>
            <a href="#" class="blog-user">
                <i class="fa fa-qq"></i>
<<<<<<< HEAD
            </a>
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
=======
﻿<header>
    <div class="header-wrap">
        <h1 class="logo pull-left">
            <a href="index.html">
                <img src="../res/static/images/logo.png" alt="" class="logo-img">
                <img src="../res/static/images/logo-text.png" alt="" class="logo-text">
=======
>>>>>>> 1ff30bd... 增加blog首页和文章页
            </a>
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
<<<<<<< HEAD
    <ul class="pop-nav" id="pop-nav">
        <li><a href="index.html">首页</a></li>
        <li><a href="message.html">留言</a></li>
        <li><a href="about.html">关于</a></li>
    </ul>
>>>>>>> e7f3251... 继续
=======
>>>>>>> 1ff30bd... 增加blog首页和文章页
</header>