<div class="header">
</div>
<header class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
            <a href="javascript:void(0)" class="header-logo" id="logo">wyDuang</a>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home fa-fw"></i>首页</a></li>
                    <li><a href="@Url.Action("Index","Article")">文章</a></li>
                    <li><a href="/messages.html">留言</a></li>
                    <li><a href="/friendlinks.html">友链</a></li>
                </ul>
            </nav>
            <a href="#" class="blog-user">
                <i class="fa fa-qq"></i>
            </a>
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
</header>