<<<<<<< HEAD
<<<<<<< HEAD
﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <title>无恙Duang的博客 | wyduang.com</title>
    <meta name="keywords" content="别来无恙，无恙Duang，wyduang" />
    <meta name="description" content="无恙Duang的博客：美好的生活，从现在开始！" />
<<<<<<< HEAD
=======
    <title>🤣无恙duang | wyduang.com</title>
=======
    <title>🤓无恙Duang | wyduang.com</title>
>>>>>>> 9197bf0... 集成layui+editor.md编辑器
=======
    <title>😎无恙Duang | wyduang.com</title>
>>>>>>> 8723cb5... 添加 CodeGenerator
    <meta name="keywords" content="wyduang，别来无恙，无恙duang" />
    <meta name="description" content="无恙duang的博客：美好的生活，从现在开始！" />
>>>>>>> 23713d8... 修改layout
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <environment include="Development">
        <link rel="stylesheet" href="~/libs/layui/dist/css/layui.css">
        <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/libs/animate/animate.css" />
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="menu" class="hover_animation menu_open" data-mark="false">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="navgation" class="navgation navgation_close">
        <ul class="point">
            <li><a href="@Url.Action("Index","Home")">首页</a></li>
            <li><a href="@Url.Action("Index","Article")">文章</a></li>
            <li><a href="message.html">留言</a></li>
        </ul>
        <div class="logo"><a href="@Url.Action("Index","Home")">wyDuang</a></div>
    </div>
    <!-- section1 Start -->
    <div class="section" id="section1">
        <div class="fp-tablecell">
            <div class="page1">
                <div class="nav wow zoomIn" data-wow-duration="2s">
                    <img src="~/images/avatar.jpg">
                    <p>长风破浪会有时，直挂云帆济沧海。</p>
                    <a class="btn layui-btn layui-btn-normal" href="@Url.Action("Index","Article")">Enter Blog</a>
                </div>
                <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
            </div>
        </div>
    </div>
    <!-- section1 End -->
    <!-- section2 Start -->
    <div class="section" id="section2">
        <div class="fp-tablecell">
            <div class="page2">
                <div class="warp-box">
                    <div class="new-article">
                        <div class="inner wow fadeInDown" data-wow-delay=".2s">
                            <h1>热门文章</h1>
                            <p>
                                很想给你写封信，告诉你这里的天气。
                                <br>昨夜的那场电影，还有我的心情。
                            </p>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="~/images/article.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            标题标题
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2019年8月7日
                                    </div>
                                    <p>
                                        很想给你写封信，告诉你这里的天气、昨夜的那场电影、还有我的心情。
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" data-wow-delay=".2s" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="~/images/article.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            标题
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2019年8月7日
                                    </div>
                                    <p>
                                        很想给你写封信，告诉你这里的天气、昨夜的那场电影、还有我的心情。
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" data-wow-delay=".4s" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="~/images/article.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            标题
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2019年8月7日
                                    </div>
                                    <p>
                                        很想给你写封信，告诉你这里的天气、昨夜的那场电影、还有我的心情。
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section2 End -->
    <!-- section3 Start -->
    <div class="section" id="section3">
        <div class="fp-tablecell">
            <div class="page3">
                <div class="warp-box">
                    <div class="warp">
                        <div class="inner">
                            <div class="links">
                                <ul>
                                    <li class="wow fadeInLeft"><a href="#">关于</a></li>
                                    <li class="wow fadeInRight"><a href="#">+友情链接</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section3 End -->
    <!-- section4 Start -->
    <div class="section" id="section4">
        <div class="fp-tablecell">
            <div class="page4">
                <div class="warp-box">
                    <div class="about">
                        <div class="inner">
                            <h1 class="wow fadeInLeft">犯二青年</h1>
                            <p class="wow fadeInRight">
                                爱好编程，喜欢交流，外冷内热型，半个肥宅 => 整个肥宅 进阶中😅。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section4 End -->
    <footer class="footer wow fadeInUp" id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget about">
                            <div class="footer-logo">
                                <h2>wyDuang</h2>
                            </div>
                            <p>长风破浪会有时，直挂云帆济沧海。</p>
                            <div class="button">
                                <a href="#" class="btn layui-btn layui-btn-normal">About Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget">
                            <h2>相关链接</h2>
                            <ul class="social-icon">
                                <li class="active"><a href="#"><i class="fa fa-book"></i>博文</a></li>
                                <li class="active"><a href="#"><i class="fa fa-comments"></i>留言</a></li>
                                <li class="active"><a href="#"><i class="fa fa-share"></i>资源</a></li>
                                <li class="active"><a href="#"><i class="fa fa-snowflake-o"></i>日记</a></li>
                                <li class="active"><a href="#"><i class="fa fa-files-o"></i>归档</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                        <div class="single-widget contact">
                            <h2>联系我</h2>
                            <ul class="list">
                                <li><i class="fa fa-map"></i>地址: 深圳市福田区深南中路3018号</li>
                                <li><i class="fa fa-qq"></i>QQ: 1014558384 </li>
                                <li><i class="fa fa-envelope"></i>邮箱: 110@wyduang.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                        <p>Copyright &copy; 2019 wyduang | Powered by .NET Core on Linux</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/libs/layui/dist/layui.js"></script>
        <script src="~/libs/wowjs/dist/wow.js"></script>
        <script src="~/js/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
=======
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
=======
﻿@{
    Layout = null;
>>>>>>> 1ff30bd... 增加blog首页和文章页
}
<!DOCTYPE html>

<<<<<<< HEAD
<h1>hahahahha </h1>
>>>>>>> e7f3251... 继续
=======
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>别来无恙博客 | wyduang.com</title>
    <meta name="keywords" content="别来无恙，无恙，wyduang" />
    <meta name="description" content="别来无恙博客：美好的生活，从现在开始" />
=======
>>>>>>> fb48ab8... 完善前端资源压缩
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <environment include="Development">
        <link rel="stylesheet" href="~/libs/layui/dist/css/layui.css">
        <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/libs/animate/animate.css" />
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="menu" class="hover_animation menu_open" data-mark="false">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="navgation" class="navgation navgation_close">
        <ul class="point">
            <li><a href="/">首页</a></li>
            <li><a href="article.html">博客</a></li>
            <li><a href="message.html">留言</a></li>
        </ul>
        <div class="logo"><a>wyDuang</a></div>
    </div>
    <!-- section1 Start -->
    <div class="section" id="section1">
        <div class="fp-tablecell">
            <div class="page1">
                <div class="nav wow zoomIn" data-wow-duration="2s">
                    <img style="width: 150px;height: 150px;border-radius: 50%;" src="~/images/avatar.jpg">
                    <p>if(bool learning==false) bool lag=true;</p>
                    <a class="layui-btn layui-btn-normal" style="margin-top: 20px" href="/articles.html">Enter Blog</a>
                </div>
                <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
            </div>
        </div>
    </div>
    <!-- section1 End -->
    <!-- 热门文章 section2 Start -->
    <div class="section" id="section2">
        <div class="fp-tablecell">
            <div class="page2">
                <div class="warp-box">
                    <div class="new-article">
                        <div class="inner wow fadeInDown" data-wow-delay=".2s">
                            <h1>热门文章</h1>
                            <p>
                                很想给你写封信,告诉你这里的天气.
                                <br>昨夜的那场电影,还有我的心情.
                            </p>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="~/images/article.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            标题标题
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2019年8月7日
                                    </div>
                                    <p>
                                        很想给你写封信，告诉你这里的天气、昨夜的那场电影、还有我的心情。
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" data-wow-delay=".2s" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="~/images/article.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            标题
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2019年8月7日
                                    </div>
                                    <p>
                                        很想给你写封信，告诉你这里的天气、昨夜的那场电影、还有我的心情。
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" data-wow-delay=".4s" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="~/images/article.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            标题
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2019年8月7日
                                    </div>
                                    <p>
                                        很想给你写封信，告诉你这里的天气、昨夜的那场电影、还有我的心情。
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 热门文章 section2 End -->
    <!-- section3 Start -->
    <div class="section" id="section3">
        <div class="fp-tablecell">
            <div class="page3">
                <div class="warp-box">
                    <div class="warp">
                        <div class="inner">
                            <div class="links">
                                <ul>
                                    <li class="wow fadeInLeft"><a href="#">关于</a></li>
                                    <li class="wow fadeInRight"><a href="#">+友情链接</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section3 End -->
    <!-- section4 Start -->
    <div class="section" id="section4">
        <div class="fp-tablecell">
            <div class="page4">
                <div class="warp-box">
                    <div class="about">
                        <div class="inner">
                            <h1 class="wow fadeInLeft">次元使者</h1>
                            <p class="wow fadeInRight">
                                爱好编程，喜欢交流，外冷内热型，半个肥宅 => 整个肥宅 进阶中☺☺☺。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section4 End -->
    <footer class="footer wow fadeInUp" id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget about">
                            <div class="footer-logo">
                                <h2>别来无恙</h2>
                            </div>
                            <p>剑气纵横三万里，一剑光寒十九洲。</p>
                            <div class="button">
                                <a href="#" class="btn layui-btn layui-btn-normal">About Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget">
                            <h2>相关链接</h2>
                            <ul class="social-icon">
                                <li class="active"><a href="#"><i class="fa fa-book"></i>博文</a></li>
                                <li class="active"><a href="#"><i class="fa fa-comments"></i>留言</a></li>
                                <li class="active"><a href="#"><i class="fa fa-share"></i>资源</a></li>
                                <li class="active"><a href="#"><i class="fa fa-snowflake-o"></i>日记</a></li>
                                <li class="active"><a href="#"><i class="fa fa-files-o"></i>归档</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                        <div class="single-widget contact">
                            <h2>联系我</h2>
                            <ul class="list">
                                <li><i class="fa fa-map"></i>地址: 深圳市福田区深南中路3018号</li>
                                <li><i class="fa fa-qq"></i>QQ: 1014558384 </li>
                                <li><i class="fa fa-envelope"></i>邮箱: 110@wyduang.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                        <p>Copyright &copy; 2018-2019 别来无恙 All Rights Reserved V.1.0.0 蜀ICP备xxxxxx号</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/libs/layui/dist/layui.js"></script>
<<<<<<< HEAD
        <script src="~/libs/wowjs/dist/wow.js"></script>
        <script src="~/js/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home.min.js" asp-append-version="true"></script>
=======
        <script src="~/libs/wowjs/dist/wow.min.js"></script>
        <script src="~/js/index.all.js" asp-append-version="true"></script>
>>>>>>> f733e49... 更新wwwroot
    </environment>
</body>
</html>
>>>>>>> 1ff30bd... 增加blog首页和文章页
