
@section style {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="~/css/index.min.css" asp-append-version="true" />*@
    </environment>
}
<div class="container-fixed">
    <div class="col-other">
        <div class="inner">
            <div class="other-item" id="categoryandsearch">
                <div class="search">
                    <label class="search-wrap">
                        <input type="text" id="searchtxt" placeholder="输入关键字搜索" />
                        <span class="search-icon">
                            <i class="fa fa-search"></i>
                        </span>
                    </label>
                    <ul class="search-result"></ul>
                </div>
                <ul class="category mt20" id="category">
                    <li data-index="0" class="slider"></li>
                    <li data-index="1"><a asp-controller="Manage" asp-action="Articles">文章管理</a></li>
                    <li data-index="2"><a asp-controller="Manage" asp-action="AddArticle">新增文章</a></li>
                    <li data-index="3"><a asp-controller="Manage" asp-action="Categories">分类管理</a></li>
                    <li data-index="5"><a asp-controller="Manage" asp-action="Tags">标签管理</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <environment include="Development">
        <script>NProgress.start();</script>
        <script src="~/js/article.js" asp-append-version="true"></script>
        <script>
            window.onload = function () {
                NProgress.done();
            };
        </script>
    </environment>
    <environment exclude="Development">
        @*<script src="~/js/index.min.js" asp-append-version="true"></script>*@
    </environment>
}
