/******************************** gloable Start ********************************/
body {
    background-color: #e2e2e2;
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
    color: #3A4145;
}

.jumbotron {
    display: block;
    padding-bottom: 3em;
    background-color: rgba(0, 0, 0, 0.87);
    background: url(https://static.wyduang.com/images/to_pageback.gif) repeat fixed;
}

.jumbotron .ui.header,
.jumbotron p {
    color: #fff;
}

.main.container {
    padding-top: 2em;
}

.main.menu {
    background-image: url(https://static.wyduang.com/images/shadow_light.png), url(https://static.wyduang.com/images/circuit.png);
    background-repeat: repeat-x, repeat-x;
    margin-top: 0em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
    background-color: transparent;
}

header .ui.menu:last-child {
    margin-bottom: 1rem;
}

.main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.main.menu > .text.container {
    max-width: 100% !important;
}

.main.menu .header.item {
    padding-top: 0;
    padding-bottom: 0;
}

.main.menu .header.item .logo {
    font-family: BarbaraHand;
    color: #444647;
    font-size: 2.85714286em;
    text-align: center;
    line-height: normal;
    font-weight: normal;
}

.main.menu .item .logo:hover {
    color: #777;
}

.ui.cards {
    margin: 0;
}

.ui.footer.segment {
    margin-top: 3em;
    padding: 3em 0em;
}

.ui.tag.labels .label, .ui.tag.label {
    padding-left: 1.1em;
    padding-right: 0.8em;
}

.ui.list .list > a.item, .ui.list > a.item {
    color: #777;
}

.ui.list .list > a.item, .ui.list > a.item:hover {
    color: #444;
}

.right.column {
    max-width: 300px;
}

.back_to_top {
    width: 24px;
    color: gray;
    padding: 12px 0px 12px 5px;
    position: fixed;
    right: 0px;
    bottom: 100px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    background-color: #fff;
    border-radius: 12px 0 0 12px;
    display: none;
}

@font-face {
    font-family: 'BarbaraHand';
    src: url(https://static.wyduang.com/fonts/barbarahand-webfont.eot);
    src: url(https://static.wyduang.com/fonts/barbarahand-webfont.eot?#iefix) format('embedded-opentype'), url(https://static.wyduang.com/fonts/barbarahand-webfont.woff2) format('woff2'), url(https://static.wyduang.com/fonts/barbarahand-webfont.woff) format('woff'), url(../fonts/barbarahand-webfont.ttf) format('truetype'), url(https://static.wyduang.com/fonts/barbarahand-webfont.svg#BarbaraHand) format('svg');
    font-weight: 400;
    font-style: normal;
}
/******************************** gloable End ********************************/
