body {
    background-color: #e2e2e2;
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
    color: #3A4145;
}
.jumbotron {
   display:none;
    padding-bottom: 3em;
    background-color: rgba(0, 0, 0, 0.87);
    background: url(https://ningto.com/public/img/to_pageback.gif) repeat fixed;
}
.jumbotron h1.ui.header,
.jumbotron p {
    color: #fff;
}
.main.container {
    padding-top: 2em;
}
.main.menu {
    background-image: url(https://ningto.com/public/img/shadow_light.png), url(https://ningto.com/public/img/circuit.png);
    background-repeat: repeat-x, repeat-x;
    margin-top: 0em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}
.main.menu .item img.logo {
    margin-right: 1.5em;
}
.main.menu {
    background-color: transparent;
}
.main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.main.menu > .text.container {
    max-width: 100% !important;
}
.ui.cards {
    margin: 0px;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.ui.tag.labels .label, .ui.tag.label {
    padding-left: 1.1em;
    padding-right: 0.8em;
}
.ui.list .list > a.item, .ui.list > a.item {
    color: #777;
}
.ui.list .list > a.item, .ui.list > a.item:hover {
    color: #444;
}
.right.column {
    max-width: 300px;
}
.back_to_top {
    width: 24px;
    color: gray;
    padding: 12px 0px 12px 5px;
    position: fixed;
    right: 0px;
    bottom: 100px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    background-color: #fff;
    border-radius: 12px 0 0 12px;
    display: none;
}

.profile .item .name {
    text-align: center;
}
.profile .item .num {
    text-align: center;
    color: grey;
}
.profile .signature {
    font-weight: bold;
}

#body-right .article_category .ui.tag.labels .label {
    margin: 0em 0em .3em 1em;
}
#body-left .ui.items > .item .meta .ui.button {
    padding: .4em .8em .4em;
}


#body-left .ui.divided.items > .item {
    margin-top: 0px;
    margin-bottom: 2px;
    cursor: default;
}