#body-home-left .ui.items .item {
    margin-top: 0px;
    margin-bottom: 2px;
    cursor: default;
}


.profile .item .name {
    text-align: center;
}
.profile .item .num {
    text-align: center;
    color: grey;
}
.profile .signature {
    font-weight: bold;
}

#body-right .article_category .ui.tag.labels .label {
    margin: 0em 0em .3em 1em;
}
#body-left .ui.items > .item .meta .ui.button {
    padding: .4em .8em .4em;
}


#body-left .ui.divided.items > .item {
    margin-top: 0px;
    margin-bottom: 2px;
    cursor: default;
}