<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="warn"
      internalLogFile="Logs/nlog-internal.log">
  <targets>
    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="File" name="logfile" fileName="../../../Logs/${shortdate}.log"
            layout="${longdate}|${logger}|${uppercase:${level}}&#x000D;&#x000A;${message}&#x000D;&#x000A;${exception}&#x000D;&#x000A;url: ${aspnet-request-url}|action: ${aspnet-mvc-action}&#x000D;&#x000A;RequestIP: ${aspnet-Request-IP}&#x000D;&#x000A;" />
  </targets>

  <rules>
    <!-- 由高到低：Off、Fatal、Error、Warn、Info、Debug、Trace、All -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="Blog.Api.*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>