<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="warn"
      internalLogFile="Logs/nlog-internal.log">
  <targets>
    <target xsi:type="File" name="logfile" fileName="${basedir}/Logs/${shortdate}.api.log"
            layout="${longdate} | ${logger} | ${uppercase:${level}}&#x000D;&#x000A;${message} ${exception}&#x000D;&#x000A;url: action: ${aspnet-mvc-action}&#x000D;&#x000A;" />

    <!--<target xsi:type="Null" name="blackhole" />-->
    <!--<target xsi:type="Database" name="mysqldb"
            dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
            connectionString="${var:connectionString}" >
      <commandText>
        insert into nlog (
        Application, Logged, Level, Message, User,
        ServerName, RequestUrl, RemoteAddress, Logger, Action, Callsite,
        Exception
        ) values (
        @Application, @Logged, @Level, @Message, @User,
        @ServerName, @RequestUrl, @RemoteAddress, @Logger, @Action, @Callsite,
        @Exception
        );
      </commandText>
      <parameter name="@application" layout="WyBlog.Web" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@user" layout="${aspnet-user-identity}" />
      <parameter name="@serverName" layout="${aspnet-request-host}" />
      <parameter name="@requestUrl" layout="${aspnet-request-url:IncludeQueryString=true}" />
      <parameter name="@remoteAddress" layout="${aspnet-request-ip}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@action" layout="${aspnet-mvc-action}" />
      <parameter name="@callsite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>-->
  </targets>
  
  <rules>
    <!--跳过Microsoft日志，只记录自己的日志 minlevel: Trace 跟踪全部, Error 只捕获异常-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->
    
    <!-- 由高到低：Off、Fatal、Error、Warn、Info、Debug、Trace、All -->
    <logger name="*" minlevel="Warn" writeTo="logfile" />
    <!--<logger name="*" minlevel="Info" writeTo="mysqldb" />-->
  </rules>
</nlog>