<footer>
    <p>
        <span>&copy; 2019</span>
        <span><a href="https://wyduang.com" target="_blank">wyduang.com</a></span>
        <span>MIT license</span>
    </p>
    <p><span>人生就是一场修行</span></p>
</footer>