@{
    Layout = null;
    string rurl = ViewBag.ReturnUrl;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>登录 | wyduang.com</title>
    <link rel="shortcut icon" href="https://static.wyduang.com/favicon.ico" type="image/x-icon">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/gloable.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        /*.image {
            margin-top: -100px;
        }*/

        .column {
            max-width: 450px;
        }

        .logo {
            font-size: 2.75rem;
            font-family: BarbaraHand;
            color: #444647;
            text-align: center;
            line-height: normal;
            font-weight: normal;
        }

        .logo:hover {
            color: #777;
        }
    </style>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <a href="javascript:void(0)" id="logo" class="logo">wyDuang</a>
                登录您的账号
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="用户名">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="密码">
                        </div>
                    </div>
                    @Html.Hidden("rurl", rurl)
                    <button type="button" class="ui fluid large teal submit button">登录</button>
                    <div class="ui error message"></div>
                </div>
            </form>
            <div class="ui message">
                第三方登录 <a href="/githublogin">github</a>
                <a href="/"> | 主页</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
        $(document).ready(function () {
            // [*] 自定义校验函数，返回 false 校验不通过
            $.fn.form.settings.rules.passwordStrong = function(value) {
                return value.length > 6;
            };

            $('.ui.form').form({
                on: 'blur',
                fields: {
                    username: {
                        identifier: 'username',
                        rules: [
                            {
                                type:   'empty',
                                prompt: '名字不能为空'
                            },
                            {
                                type: 'length[6]',
                                prompt: '您的用户名输入错误，请重新输入。'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type:   'empty',
                                prompt: '名字不能为空'
                            },
                            {
                                type: 'passwordStrong',
                                prompt: '您的密码强度太弱，请重新输入。'
                            }
                        ]
                    }
                },
                onSuccess: function (event, fields) {
                    event.preventDefault(); // [*] 如果需要使用 Ajax 提交时，防止表单自动提交

                    $.ajax({
                        type: "post",
                        url: "http://localhost:5011/login",
                        contentType: 'application/json',
                        data: JSON.stringify({ username: fields.username, password: password }),
                        success: function (data, status) {
                            if (status === 'success') {
                                window.localStorage.setItem('token', data.access_token);
                                window.location.href = fields.rurl;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('ERROR:' + XMLHttpRequest.status + "|" + XMLHttpRequest.readyState + "|" + textStatus, { icon: 5, time: 5000 });
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>